.homeBase{
  /* border:1px solid yellow; */
  padding:1rem;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.homeBase h1{
  font-size: 3rem;
  margin: 1rem;
}
.homeBase div{
  margin: 0.5rem;
}