.base{  
  box-sizing:border-box;
  box-shadow:0 0 10px black;
  margin:10px;
  /* border: 1px solid white; */
  border-radius: 2rem;
  padding: 2rem;
  background:#a5a1a1;
  max-width: 30rem;
  /* max-height: 20rem; */
  color: white;

}
hr{
  width:100%;
}

.base>h2, .base>p, .base>ul{
  margin:10px 0;
}
.txtcen{
  text-align:center
}
.loginform{
  margin: 10px 0;
}

.loginform input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}