.tabs {
  width: 100%;
  font-family: Arial, sans-serif;
}

.tab-buttons {
  display: flex;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}

.tab-buttons button {
  padding: 12px 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #666;
}

.tab-buttons button.active {
  border-bottom: 2px solid var(--appOrange);  
  background: var(--appPurple );
  padding: 0.6rem 1.2rem;
  box-shadow: 0 8px 16px rgba(102, 126, 234, 0.4);
  color: white;
  border-radius: 10px 10px 0 0 ;

}

.tab-content {
  /* padding: 25px; */
}