.topNav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--appPurple);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  /* max-height: 50px; */
}


.top-nav-user{
  display:flex;
  align-items: center;
  gap: 10px;
}